chromadb==1.0.15
datasets==2.14.5
fitz==0.0.1.dev2
gradio==5.35.0
ipython==8.12.3
joblib==1.5.0
matplotlib==3.10.3
nltk==3.9.1
numpy==2.3.1
pandas==2.3.0
Pillow==11.3.0
protobuf==6.31.1
psutil==7.0.0
pytesseract==0.3.13
python_dateutil==2.9.0.post0
rapidfuzz==3.13.0
Requests==2.32.4
scikit_learn==1.7.0
sentence_transformers==4.1.0
spacy==3.8.5
symspellpy==6.9.0
torch==2.7.0+cu126
tqdm==4.67.1
transformers==4.52.4
